<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Yamamoto</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom3</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom4</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom5</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom6</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom7</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom8</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom9</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom10</a>
    </div>
  </div>
</div>